name: PR Gate
on: [push]
jobs:
  PR-Gate:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v5
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'          
    - name: Test
      run: go test -v ./...